/* font-family: 'Inknut Antiqua', serif;
font-family: 'IBM Plex Mono', monospace; */

body {
    font-family: 'IBM Plex Mono', monospace;
    position: relative;
    font-size: 15px;
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

h1,
h2,
.skills-list {
    font-family: 'Inknut Antiqua', serif;
}

h2 {
    font-size: 30px;
    line-height: 150%;
    padding-bottom: 20px;
}

p {
    font-size: 15px;
    line-height: 150%;
}

img {
    max-width: 100%;
    display: inline-block;
    object-fit: cover;
    margin-bottom: 5px;

}

figcaption {
    font-size: 10px;
    margin-top: 15px;

}

.container {
    padding: 30px;
}

.blue .container {
    padding: 70px 30px
}

/* style menu */
nav {
    background-color: #DBEBF4;
    list-style-type: none;
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav ul li {
    display: inline-block;
    margin: 10px 15px;
    text-transform: uppercase;
    letter-spacing: 1px;
}


nav li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    text-decoration: underline;
    color: black;
}

ul {
    margin: 0 auto;
    padding: 20px;
    text-align: center;

}

li.empty {
    width: 90px;
    border-top: 1px solid black;
    position: relative;
    top: 10px
}


header {
    top: 60px;
    margin-bottom: 50px;
    position: relative;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -40px;
}

header h1 {
    font-size: 100px;
    line-height: 150%;
    margin-top: 200px;
}

header ul li {
    list-style-type: none;
    text-align: left;
    line-height: 150%;
    margin: 10px 0;
}


.main-img {
    box-shadow: 1px 2px 30px rgba(0, 0, 0, 0.1);
    margin-top: 50px;
    width: 80%;
}

.button {
    border: 1px solid black;
    border-radius: 20px;
    text-decoration: none;
    color: black;
    margin-top: 40px;
    margin-left: 20px;
    padding: 10px 30px;
    display: inline-block;
    transition: background 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
    background-color: black;
    color: white;
    text-decoration: none;

}

.skills-list {
    list-style-type: none;
    font-size: 50px;
    padding: 50px;
}

.skills-list li {
    padding: 10px;
}

.project {
    margin: 70px 0
}

.project .button {
    margin-left: 0;
    margin-top: 10px;


}

.blue {
    background-color: #DBEBF4;
}

.right-align {
    text-align: end;
}

footer {
    text-align: center;

}

footer h2 {
    margin-bottom: 100px;
    font-size: 50px;
}